* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px auto;
    width: 1200px;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}